header {
  position: sticky;
  top: 0;
  z-index: 1000;
}


.header-logo {
    background-color: var(--red);
    height: 77px;
}

.logo {
  width: 80px;
  margin-left: 10%;
  z-index: 2000;
}

.logo img {
  cursor: pointer;
}

.nav-bar {
    display: flex;
    align-items: center;
    background-color: var(--gray);
    height: 88px;
    margin-bottom: 30px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 30%;
    padding: 10px 16px;
    margin: 100px;
    border: 2px solid #ccc;
    border-radius: 999px;
    background: white;
  }
  
  .search-bar img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
  .search-bar input {
    flex: 1;
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
  }

  .detail {
    position: sticky;
    z-index: 1000;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--gray);
    height: 88px;
    margin-bottom: 30px;
}