.app {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
  }
  
.app main {
    flex: 1;
}

.loading {
  color: black;
  background-color: white;
  font-size: 50px;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}